* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

}
a{
    color: black;
    text-decoration: none;
}
body.ProjBody {
    background-color: rgb(214, 224, 246);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Verdana,Arial, Helvetica, sans-serif;
}
#myBtn {

    position: fixed;
    top: 1.5vh;
    right: 3vw;
    z-index: 99;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 0.4vw;
    border-radius: 1vh;
    font-size: 3vh;
    box-shadow: 3px 3px 10px rgb(24, 23, 23);
}

#myBtn:hover {
    background-color: rgb(190,190,190);
}

.heading{
    font-size: 5vh;

    letter-spacing: 0.02em;
    font-weight: 600;
    text-align: center;
    padding-top: 7vh;
    padding-left: 10vw;
    padding-right: 10vw;


}
.lang-head{
    font-size: 4vh;
    text-decoration: underline;
    letter-spacing: 0.02em;
    font-weight: 600;
    text-align: center;
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
}
.proj-head{
    font-size: 3vh;

    letter-spacing: 0.02em;
    font-weight: 600;
    text-align: center;
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
}
.basic{
    font-size: 2vh;

    letter-spacing: 0.02em;

    text-align: center;
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;

}
.start{
    padding-top: 0;
    margin:0;
    /*height: 15vh;*/
    background-image: linear-gradient(rgb(67, 116, 196), rgb(214, 224, 246));
}
.back-arrow{
    padding-top:0.4vw;
    width: 6vh;
    height: 6vh;
    position: center;
}
.image_block{
    /*padding-left: 40vw;*/
    padding-top: 5vh;
    /*position: center;*/

    width:100%;
    display:block;

}

.app{
    box-shadow: 5px 5px 10px  rgb(45, 45, 48);
    text-align: center;
    display: block;
    height: 65vh;
    margin-right: auto;
    margin-left: auto;
}
.map{
    box-shadow: 5px 5px 10px  rgb(45, 45, 48);
    text-align: center;
    display: block;
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
}